[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/tinlake"]
	path = lib/tinlake
	url = https://github.com/centrifuge/tinlake
[submodule "lib/tinlake-maker-lib"]
	path = lib/tinlake-maker-lib
	url = https://github.com/centrifuge/tinlake-maker-lib
